*.pyc

code/01-NestedLoops/output/*
code/01-NestedLoops/*.mp4

code/02-Rule30/output/02*

code/03-SomethingHuman/config.py
code/03-SomethingHuman/temp.jpg
code/03-SomethingHuman/used_concepts.json
code/03-SomethingHuman/output/*

code/05-Golf/05-golf.gif
code/05-Golf/05-golf.mp4

code/07-FollowTheRules/md_*.txt
code/07-FollowTheRules/output_*/*
code/07-FollowTheRules/*.mp4

code/08-CurveOnly/output/*.png

code/09-Interference/output/*
code/09-Interference/*.txt
code/09-Interference/*.mp4

code/10-Tree/output/*.png
code/10-Tree/md_*.txt

code/12-API/config.py
code/12-API/12.png_out_*.png.txt
code/12-API/12.png_out_*.png
code/12-API/12.png.txt

code/17-Line/output/*

code/24-500Lines/*_out_???.png
