body {
    background: #342323;
    font-family: Arial, "Helvetica Neue", sans-serif;
    color: #cddede;
    font-size: 14pt;
}

a {
    color: #cddede;
    text-decoration: none;
    text-shadow: 0 0 3px #222, 0 0 10px #9ff;
}

h1, h2 {
    text-align: center;
}

h2 sup {
    font-size: 0.42em;
}

#maincontent {
    width: 70vw;
    margin: auto;
    margin-top: 30px;
}

.intro {
    width: 75%;
    margin: auto;
}

blockquote {
    font-family: monospace;
    font-size: 1.2em;
    margin-bottom: 2em;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

table.calendar {
    width: 70vw;
    border-collapse: collapse;
}

th {
    height: 7em;
    font-family: monospace;
    font-size: 1vw;
    padding-bottom: 10px;
}

.calendar td {
    height: 4em;
    width: 9em;
    border: 1px solid black;
    font-size: 4em;
    text-align: center;
}

.calendar td.none {
    border: none;
}

.calendar td.ready {
    font-weight: 900;
    background-color: #453434;
}

.footer {
    padding-top: 4em;
    font-family: monospace;
    text-align: center;
    clear: both;
    font-size: 0.8em;
}

.prompt, .interpretation {
    width: 48%;
    font-family: monospace;
    font-size: 1.0em;
    line-height: 1.4em;
}

.prompt {
    float: left;
    margin-bottom: 40px;
}
.interpretation {
    float: right;
    margin-bottom: 40px;
}
.presentation {
    clear: both;
    width: 100%;
    font-family: monospace;
    font-size: 1.0em;
    line-height: 1.4em;
    margin-top: 40px;
}

.prompt h3, .interpretation h3, .presentation h3 {
    font-family: Arial, "Helvetica Neue", sans-serif;
    font-size: 1.2em;
}
.prompt span, .interpretation span, .presentation span {
    text-shadow: 0 0 3px #222, 0 0 10px #f90;
}

.presentation video, .presentation img {

    margin-right: 10px;
    margin-bottom: 10px;
}

.presentation video.left {
    float: left;
}


.presentation td {
    border: 1px solid black;
    font-size: 1.2em;
    text-align: center;
}
.presentation td.right {
    text-align: right;
}
.presentation td.left {
    text-align: left;
}
.presentation td.none {
    border: none;
}
.presentation td img{
    margin:0;
}
.presentation th {
    border: 1px solid black;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.explain-right {
    float: right;
    margin: 10px;
    font-size: 0.7em;
    text-align: center;
    line-height: 0.8em;
}
.explain-right img {
    clear: both;
    height:200px;
}

#button {
    margin: auto;
    border: 1px solid white;
    background: #342323;
    padding:8px 24px 8px 24px;
    border-radius: 6px;
    box-shadow: 0 0 3px #222, 0 0 10px #f90;
}

.img09 {
    margin: 10px !important;
}

.img17 {
    clear: both;
    width: 777px;
    margin: 0 auto 0 auto;
    padding: 0;
}
.img17 img {
    width: 777px;
    margin: 0;
}
.img17.mid img{
    height: 0px;
}
